@import "tailwindcss";

* {
  box-sizing: border-box;
}

.active {
  @apply underline underline-offset-2;
}

.call-to-act {
  @apply flex flex-col items-center gap-8 w-1/3;
}

/* COLORS */

.bg-dark-blue {
  background-color: #122a4f;
}
.dark-blue {
  color: #122a4f;
}

.bg-yellow {
  background-color: #febc5a;
}

.title {
  @apply font-bold text-lg;
}

.black-overlay {
  @apply bg-black opacity-30 h-screen absolute;
}

/* LIHAT KARYA CSS */

.detail-title {
  @apply text-3xl font-bold mb-2;
}
